#container {
    border: 1px solid #000;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    width: 100%;
}
header {
    background: #222225;
    color: #FFF;
    font-size: 2.5em;
    padding: .7em;
    text-align: center;
}
.search-bar {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 1em;
    text-align: center;
}
.search-bar input[type="search"] {
    border-radius: 5px;
    color: red;
    padding: 1em;
}
.search-bar input[type="submit"] {
    border-radius: 5px;
    padding: 1em;
}
.search-bar input[type="submit"]:hover {
    border: 1px solid red;
    border-radius: 5px;
    padding: 1em;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.5em 0;
}
.logo {
    float: right;
    padding-right: 2em;
}
.logo > img {
    height: 85px;
    width: 85px;
}
.main-tab {
    border: 1px solid green;
    border-radius: 10px;
    flex-basis: 65%;
    padding: 1.5em;
}
.graph-container {
    display: flex;
    justify-content: space-around;
    width: 95%;
}
.graphs {
    box-sizing: border-box;
    padding: 10px;
    width: 90%;
}
.graph-btn {
    align-self: center;
    background: #fff;
    border-radius: 50%;
    color: #000;
    padding: 10px;
    text-align: center;
}
.graph-btn:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}
main h1, main h3 {
    padding-left: 2em;
}
aside {
    flex-basis: 25%;
}
aside > section {
    border: 1px solid green;
    border-radius: 10px;
    margin-bottom: 1em;
}
aside > section > div {
    padding: 0 1.5em 1.5em 1.5em;
}
dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 1.5em;
}
dt {
    flex: 0 0 35%;
    margin: 0;
}
dd {
    flex: 0 0 50%;
    font-weight: bold;
    margin: 0;
}
.positive {
    color: #548A02;
}
.negative {
    color: #BA383C;
}
